a{color:#222; text-decoration: none;}

/* 스와이퍼 공통 제어 */
.swiper-nextBtn{
    width:9px;
    height: 14px;
    background: url(../img/icon/main_slide_right.svg) no-repeat;

}
.swiper-prevBtn{
     width:9px;
    height: 14px;
     background: url(../img/icon/main_slide_left.svg) no-repeat;
}
.swiper_pagination{
    width: 50px;
    height: 16px;
    text-align: center;
    position: relative;
    top: -2px;
}
.swiper_pauseBtn{
    margin-left: 20px;
    width: 24px;
    height: 16px;
    border-radius: 3px;
    background: rgba(0,0,0,.5) url(../img/icon/slide_pause.png) no-repeat center center;
    border: none
}
.swiper_playBtn{
    margin-left: 20px;
    width: 24px;
    height: 16px;
    border-radius: 3px;
    background: rgba(0,0,0,.5) url(../img/icon/slide_start.png) no-repeat center center;
    border: none
}
.swiper-button-disabled{
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}


#wrap{width: 100%;}
#header{width: 100%; height:140px; border-bottom: 1px solid #ddd; position: fixed; top: 0; left: 0; background-color: #fff; z-index: 1000; box-shadow: 0 1px 10px rgba(0,0,0,.4); transition: .3s;}
.headerTopNav{
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #ddd;
    position: relative;
    transition: .3s;
}
.container{
    width:1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    transition: .3s;
}
.headerTopLeftLogo{
    display: flex;
    align-items: center;
}
.headerTopLeftLogo h1{
    margin-right: 50px;
}
.headerTopLeftLogo h1>a{
    width: 107px;
    height:27px;
    display: block;
    text-indent: -9999px;
    background: url(../img/icon/icon_set_common.png) no-repeat 0 -166px;
}
.headerTopLeftLogo p{
    display:flex
}
.headerTopLeftLogo p span{
    display: inline-block;
    width: 19px;
    height:17px;
    background: url(../img/icon/ico-sprite-common-gnb.png) no-repeat 0 -42px;
    text-indent: -9999px;

}
.headerTopLeftLogo p i{
    font-size: 14px;
    color: #575757;
    padding-left: 5px;
    position: relative;
    top:2px;
}

.headerTopRightGnb ul{
    display: flex;;
}
.headerTopRightGnb ul li{margin-left: 16px;}
.headerTopRightGnb ul li a{
    color: #575757;
    font-size: 14px;
    font-weight: 600;
}

.headerBottomNav{
    height:90px;
}

.headerBottomNav nav .bg{
    position: absolute;
    top: 140px;
    left:0;
    background: #fff;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    transition: .3s;
}
.headerBottomNav nav:hover .bg{
    height: 200px;
    border-bottom: 2px solid #ddd;
}
.headerBottomNav nav>ul{
    display: flex;
}
.headerBottomNav nav> ul >li{
    width: 120px;
    text-align: center;
}
.headerBottomNav nav >ul >li> a{
    display: block;
    width: 120px;
    padding: 39px 0;
    position: relative;
    font-weight: 600;
}
.headerBottomNav nav >ul >li >a .icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/icon/icon_link.svg) no-repeat center center;
    position: absolute;
    top:30px;
    left:97px;

}
.headerBottomNav nav >ul >li>ul{
    position: absolute;
    width: 120px;
    text-align: center;
    overflow: hidden;
    height:0;
    transition: .3s;
}

.headerBottomNav nav:hover >ul >li>ul{
    height: 200px;
    padding: 10px 0;
}
.headerBottomNav nav >ul >li>ul>li{
    line-height: 200%;
}
.headerBottomNav nav >ul >li:hover >a{
    color: rgb(153, 3, 3);
}
.headerBottomNav nav >ul >li>ul>li:hover>a{
    color: rgb(153, 3, 3);
    font-weight: 600;
}
.mobileLogo{
    display: none;
    transition: .3s;
}
.searchBox .mobile{
    display: none
}

#content{
    width: 100%;
    padding-top: 150px;
    margin-bottom: 70px;
}

/* section01 */
.section01 {
    position: relative;
    margin-top: 50px;
}
.section01 .swiper-slide{
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: center bottom;
    transform: translateZ(0);
}
.section01 .inner_wrap{
    margin-top: 30px;
}
.section01 .inner_wrap>div{
    width: 1140px;
    margin: 0 auto;
}
.section01 .inner_wrap>div>p{font-size: 22px; margin-bottom: 20px;}
.section01 .inner_wrap>div>h3{font-size: 48px; font-weight: 700;}
.controller_wrap{
    position: absolute;
    max-width: 1140px;
    max-width: 0 atuo;
    width: 100%;
    height: 40px;
    top: 158px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
.controller_wrap>div{
    display: flex;
}

/* section02 */
.section02{
    width: 100%;
    margin: 100px 0;
    background: linear-gradient(180deg, #fff 85%, #f8f8f8 100%);
    padding-bottom: 60px;
}
.section02 .container2{
    width: 1440px;
    margin: 0 auto;
   
  
}
.section02 .container2 h2{
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 700;
}
.history_icon_wrap{
    width:100%;
}
.history_icon_wrap ul{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.history_icon_wrap ul li{
    width: calc(100%/8);
    max-width: 180px;
    min-width: 100px;
    border-radius: 12px;
}
.history_icon_wrap ul li:hover{
    border: 2px solid rgb(142, 10, 10);
    box-sizing: border-box;
}
.history_icon_wrap ul li a{
    display: block;
    text-align: center;
    padding: 32px 30px;
    font-weight: 600;
}
.history_icon_wrap ul li a .icon{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}
.history_icon_wrap ul li a p:after {
    display: block;
    max-width: 28px;
    max-height: 28px;
    content:"";
    width: 100%;
    height: 28px;
    background: url(../img/main_sevice_icons_arrow.svg) no-repeat center;
    position: absolute;
    right: -8px;
    top:68px;
}
.history_icon_wrap ul li:hover a p:after {
    display: block;
    max-width: 28px;
    max-height: 28px;
    content:"";
    width: 100%;
    height: 28px;
    background: url(../img/main_sevice_icons_arrow_color.svg) no-repeat center;
    background-size: contain;

}
.history_icon_wrap ul li a .icon1{ background: url(../img/main_service_icon/main_service_icon1.png) no-repeat center center;}
.history_icon_wrap ul li a .icon2{ background: url(../img/main_service_icon/main_service_icon2.png) no-repeat center center;}
.history_icon_wrap ul li a .icon3{ background: url(../img/main_service_icon/main_service_icon3.png) no-repeat center center;}
.history_icon_wrap ul li a .icon4{ background: url(../img/main_service_icon/main_service_icon5.png) no-repeat center center;}
.history_icon_wrap ul li a .icon5{ background: url(../img/main_service_icon/main_service_icon6.png) no-repeat center center;}
.history_icon_wrap ul li a .icon6{ background: url(../img/main_service_icon/main_service_icon7.png) no-repeat center center;}
.history_icon_wrap ul li a .icon7{ background: url(../img/main_service_icon/main_service_icon4.png) no-repeat center center;}
.history_icon_wrap ul li a .icon8{ background: url(../img/main_service_icon/main_service_icon8.png) no-repeat center center;}
.history_icon_wrap ul li a .icon_tit{
    margin-top: 20px;
}

/* section03 */
.section03{}
.section03 .container{
    flex-direction: column;
   align-items: stretch;
}
.section03 .container .sec3_tit_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.section03 .container .sec3_tit_wrap h2{
    font-size: 38px;
    font-weight: 700;
}
.sec3Swiper{
    width: 100%;
}
.sec3_slider_wrap .swiper-slide{
    width: 450px;
    height: 440px;
    background: #eee;
    text-align: center;

    position: relative;
    overflow: hidden;
}
.sec3_slider_wrap .swiper-slide a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span.arrow{
    display: inline-block;
    width: 11px;
    height: 14px;
    background: url(../img/icon/more_arrow.svg) no-repeat;
}
.sec3_slider_wrap .swiper-slide .slider_dec{
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 100%;
    height: 120px;
    background: rgba(225, 225, 225, .6);
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    transition: .3s;
}
.sec3_slider_wrap .swiper-slide:hover .slider_dec{
    bottom: 0;
}
.sec3_slider_wrap .swiper-slide .slider_dec h3{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}
.sec3_slider_wrap .swiper-slide .slider_dec p{
    margin-top: 10px;
    font-size: 14px;
}
.sec3_slider_wrap .swiper-slide img{width: 220px;}

/* section04 */
.section04{
    width: 100%;
    margin: 100px 0;
}
.section04 .container>div{
    width: 49%;
}
.notiNews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.notiNews h2{
    font-size: 38px;
    font-weight: 700;
}
.notiNews a{}
.notiNewsCnt{}
.notiNewsCnt ul{
    display: flex;
}
.notiNewsCnt ul li{
    display: flex;
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
}
.notiNewsCnt ul li:first-child{
    border-right: 1px solid #ddd;
}
.notiNewsCnt ul li .left{
    padding-top: 20px;
    text-align: center;
     width: 25%;
}
.notiNewsCnt ul li .left .day{
   color: #8f0808;
   font-size: 32px;
   font-weight: bold;
   letter-spacing: 2px;
}
.notiNewsCnt ul li .left .date{
    font-size: 12px;
    color: #858585;
    letter-spacing: -1px;
    margin-top: 10px;
}
.notiNewsCnt ul li .right{
    width:75%;
    padding-left:20px;
    box-sizing: border-box;
}
.notiNewsCnt ul li .right p{
    font-size: 14px;
    color: #858585;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
.notiNewsCnt ul li .right .h3{
    line-height: 1.5;
    font-weight: 600;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* section05 */
.section05{
    width: 100%;
    height: 800px;
}
.tabslide{
    width: 100%;
    height: 100%;
}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(1){
    background: url(../img/section05/section01_bg.jpg) no-repeat center center;
}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(2){
    background: url(../img/section05/section02_bg.jpg) no-repeat center center;
}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(3){
    background: url(../img/section05/section03_bg.jpg) no-repeat center center;
}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(4){
    background: url(../img/section05/section04_bg.jpg) no-repeat center center;
}
.tab-pagination{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    bottom: 75px !important;
    z-index: 3;
    left: 50% !important;
    transform: translate(-50%);
}
.tabslide .swiper-pagination-bullet{
    width: calc(25% - 7px);
    height: 40px;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid #fff;
    opacity: .6;
    background: transparent;
    display: block;
}
.tabslide .swiper-pagination-bullet-active{
    border-bottom: 3px solid #fff;
    opacity: 1;
    font-weight: 700;
}
.tabslide .swiper-pagination-bullet span{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}
.tabslide .swiper_pauseBtn{
    border: 1px solid #eee;
    height: 18px;
    bottom: 20px;
    width: 20px;
    left: 50%;
    z-index: 3;
    position: absolute;
}
.tabslide .swiper_playBtn{
    border: 1px solid #eee;
    height: 18px;
    bottom: 20px;
    width: 20px;
    left: 50%;
    z-index: 3;
    position: absolute;
}
.slide_cont_wrap{
    width: 100%;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding:0 15px;
}
.slide_cont_wrap h2{
    color: #fff;
    font-weight: 400;
    font-size: 34px;
    line-height: 200%;
    margin-top: 50px;
}
.slide_cont_wrap h2 b{
    font-weight: 700;
}
.slide_cont_wrap h2 a{
    font-size: 18px;
    color: #fff;
    position: relative;
}
.slide_cont_wrap h2 a::after{
    background: url(../img/icon/more_arrow2.png) no-repeat;
    content: "";
    width: 12px;
    height: 18px;
    position: absolute;
    top: 6px;
    right: -20px;
}
.slide_cont_wrap .tab_slide_content{
    width: 665px;
    height: 440px;
    padding: 40px 60px;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 100px;
}
.type{
    padding: 2px 12px;
    display: inline-flex;
    color: #fff;
    height: 34px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.type1{background-color: #000;}
.type2{background-color: rgb(150, 16, 16);}

.tab_slide_content h3{
    max-width: 350px;
    font-size: 34px;
    margin: 15px 0;
    font-weight: 700;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 130%;
}
.tab_slide_content .content_text{
    max-width: 350px;
    font-size: 18px;
    color: #555;
    margin: 15px 0;
    font-weight: 400;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 150%;
}
.schedule_list{}
.schedule_list li{
    line-height: 180%;
}
.schedule_list li em{
    font-weight: 700;
}
.schedule_list li span{}
.tab_slide_content .swiper-slide{
    background-color: #fff;
}
.tabslide .controller_wrap{
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 999;
    width: 100px;
    height: 40px;
}
.tabslide .controller_wrap >div{}
.tabslide .controller_wrap >div .swiper_nextBtn{}
.tabslide .controller_wrap >div .swiper_prevBtn{}
.tabslide .controller_wrap >div .swiper_pagination{}




@media screen and (max-width:1440px) {
    #header{ height:auto; }
    .headerTopNav{
        display: none;
    }
    .container{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .headerBottomNav nav{
        display: none;
    }
    .mobileLogo{
        display: block;
    }

     .mobileLogo a img{
        width: 27px
     }

    
     .headerTopLeftLogo h1>a{
        width: 27px;
        height: 27px;
        background: url(../img/icon/icon_set_common.png) no-repeat 0 -166px;
     }
     .headerTopLeftLogo p span{
        width: 16px;
        height: 16px;
        background: url(../img/icon/ico-sprite-common-gnb.png) no-repeat 0 -42px;
     }
     .headerTopLeftLogo p i{
        font-size: 12px;
     }
     .searchBox {
        display:flex;
        align-items: center;
     }
     .searchBox .mobile{
        display:block;
        width: 24px;
        height: 16px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
     }
     .searchBox .mobile>div{
        width: 100%;
        height: 2px;
        background: #2e2e2e;
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s;
     }
     .searchBox .mobile .line1{
        transform: rotate(0deg)
     }
     .searchBox .mobile .line2{
        top: 50%;
        opacity: 1;
       /*  transform: translateY(-50%) */
     }
     .searchBox .mobile .line3{
        top: 100%;
        transform: rotate(0deg)
     }
    .searchBox .mobile .line1.active{
        top: 50%;
        transform: rotate(45deg)
     }
     .searchBox .mobile .line2.active{
        opacity: 0;
       /*  transform: translateY(-50%) */
     }
     .searchBox .mobile .line3.active{
        top: 50%;
        transform: rotate(-45deg)
     }
     .headerBottomNav nav{
        display: none;
        position: absolute;
        z-index: 9999;
        background-color: #fff;
        height: 100vh;
        top: 90px;
        width: 100%;
        left:0;
        overflow-y: scroll;
    }
    .headerBottomNav nav.active{
        display: block;
    }
    .headerBottomNav nav .bg{
        display: none;
    }
    .headerBottomNav nav > ul{
        flex-direction: column;
        width: 100%;
    }
     .headerBottomNav nav > ul> li{
        width: 100%;
        text-align: left;   
     }

    .headerBottomNav nav >ul >li> a{
        display: block;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ddd;
        line-height: 50px;
        padding:0 0 0 20px;
    }
    .headerBottomNav nav>ul>li>a>.icon{
        top: 15px;
    }
    .headerBottomNav nav >ul >li>ul{
        position: static;
        width: 100%;
        text-align: left;
        overflow: hidden;
        height:auto;
        transition: none;
        background: rgb(120, 5, 5);
        display: none;
    }

     .headerBottomNav nav:hover>ul >li>ul{
        padding: 0;
        height:auto;
      
    }
    .headerBottomNav nav >ul >li>ul>li{
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
    }
    .headerBottomNav nav >ul >li>ul>li a{
        color: #fff;
    }
    .headerBottomNav nav >ul >li>ul>li a:hover{
        color: #e9d2d2;
    }

     .section02 .container2{width: 100%; padding: 0 20px;
        box-sizing: border-box;
        max-width: unset;
    }
    .history_icon_wrap ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }
    .history_icon_wrap ul li{
        width: calc(100%/4);
        max-width: unset;
        min-width: 100px;
        border-radius: 12px;
    }
    .section04 .container{
        flex-direction: column;
        align-items: stretch;
    }
    .section04 .container>div{
    width: 100%;
    }
    .notiNews{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .notiNews h2{
        font-size: 38px;
        font-weight: 700;
    }
    .notiNewsCnt ul{
        flex-direction: column;
    }
    .notiNewsCnt ul li{
        display: flex;
        width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;

    }
    .notiNewsCnt ul li:first-child{
        border-right: none;
    }
    .notiNewsCnt ul li .left{
        padding-top: 20px;
        text-align: left;
        width: 10%;
    }
    .notiNewsCnt ul li .left .day{
    color: #8f0808;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    }
    .notiNewsCnt ul li .left .date{
        font-size: 12px;
        color: #858585;
        letter-spacing: -1px;
        margin-top: 10px;
    }
    .notiNewsCnt ul li .right{
        width:75%;
        padding-left:20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .news{
        margin-top: 30px;
    }
}
